<h1>Smoothies!</h1>

<h2>Smooties that have not been eaten!</h2>

<ol>
  {{#each smoothies}}
    {{#unless devoured}}
      {{> smoothies/smoothie-block devour=true}}
    {{/unless}}
  {{/each}}
</ol>

<h2>Smoothies that have been devoured!</h2>

<ol>
  {{#each smoothies}}
    {{#if devoured}}
      {{> smoothies/smoothie-block devour=false}}
    {{/if}}
  {{/each}}
</ol>

<h2>Add a Smoothie</h2>
<form class="create-form">
  <div>
    Enter the name of the smoothie you would like to enjoy!
  </div>

  <br></br>

  <div class="form-group">
    
    <input type="text" id="ca" name="smoothieName">
  </div>
  
  <button type="submit">Add Smoothie</button>

    <br></br>
    
  
 
</form>


