.olOne {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.olTwo {
  padding: 5px;
  margin-left: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
